
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.background{
  background-color: #D8DBD5;
  position: relative;
  height: 100vh;
}
.background_nav {
  background-color: #009688;
  width: 100%;
  height: 110px;
}

.container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.box_left {
  background-color: white;
  width: 35%;
  height: 95%;

}
.box_right {
  background-image: url(../img/mine.jpg);
  width: 65%;
  height: 95%;
}

.utente {
  height: 8%;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.utente_left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.utente img {
  height: 80%;
  border-radius: 40px;
  margin: 0 10px;
}

.utente_right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #B1B1B1;
  font-size: 16px;
}
.utente_right .fas{
  margin: 0 8px;
}
.utente_right .fa-ellipsis-v {
  margin-right: 18px;
}

.notifiche {
  height: 10%;
  width: 100%;
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
}
.notifiche i {
  color: #8EDAFC;
  font-size: 18px;
  padding: 10px 8px;
  background-color: white;
  border-radius: 80px;
  border: 1px solid white;
  margin-left: 15px;
}
.testo_notifiche {
  line-height: 2px;
  height: 80%;
  margin: auto 0;
  margin-left: 15px;

}
.testo_notifiche a {
  color: grey;
  text-decoration: underline;
}

.ricerca {
  height: 6%;
  width: 100%;
  background-color: #FAFAFA;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ricerca button {
  width: 15%;
  background-color: white;
  border: 1px solid lightgrey;
  margin-right: 0;
  padding: 4px;
  color: #B1B1B1;
}
.ricerca .search_text {
  width: 82%;
  margin-left: 0;
  border: 1px solid lightgrey;
  padding: 4px;
}
label {
  position: absolute;
  font-size: 8px;
  color: rgba(0,0,0,.50);
  top: 8px;
  left: 12px;
  z-index: -1;
  transition: .15s all ease-in-out;
}
.contatti {
  height: 76%;
  width: 100%;
  background-color: white;
  overflow-y: scroll;
  display: flex;
}
.contatti ul {
  width: 100%;
}
.contatti li {
  height: 70px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid lightgrey;
}
.contatti li:hover {
  background-color: #f0f1f1;
}
.contatti li:active {
  background-color: #d8d8d8;
}
.contatti li:focus {
  background-color: #d8d8d8;
}
.contatti li:last-child {
  border-bottom: none;
}
.contatti li img {
  height: 70%;
  border-radius: 50px;
  margin: auto 10px;
}
.contatti li h5 {
  margin-top: 15px;
}
.contatto_messaggi {
  height: 8%;
  width: 100%;
  background-color: #EAEAEA;
  border-left: 1px solid #E9EBEB; 
  display: flex;
  justify-content: space-between;
}
.utente_selezionato {
  height: 100%;
  display: flex;
  align-items: center;
}
.contatto_messaggi img {
  height: 80%;
  border-radius: 40px;
  margin: 0 10px;
}
.nome_accesso h5 {
  margin: 0;
}
.nome_accesso h6{
  color: #a3a2a2;
  ;
  margin: 0;
}
.pulsanti_utente{
  display: flex;
  align-items: center;
  color: #B1B1B1;
  font-size: 16px;
}
.pulsanti_utente .fas{
  margin: 0 8px;
}
.pulsanti_utente .fa-ellipsis-v {
  margin-right: 16px;
}

.box_messaggi {
  height: 84%;
}

.casella_messaggio {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  border-radius: 10px;
  position: relative;
} 
.messaggio.sent {
  background-color: #D5F9BA;
  float: right;
  clear: both;
}
.messaggio.received {
  background-color: white;
  float: left;
  clear: both;
}
.testo_messaggio {
  margin: auto 0;
  padding: 15px;
}

.orario_messaggio {
  position: absolute;
  font-size: 10px;
  color: #a3a2a2;
  align-self: flex-end;
  justify-self: baseline;
  bottom: 0;
  margin: 10px 5px 5px 0;
}

.banner_messaggio {
  height: 8%;
  background-color: #F3EEEA;
}

